<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd

        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd

        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd

        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
<!-- application context / root Spring IoC container config for JTrac -->

    <!-- custom Configurer that extends the spring PropertyPlaceholderConfigurer -->
    <bean class="info.jtrac.config.JtracConfigurer"/>

    <!-- this Acegi helper finds its way into our root Spring context
         because JtracImpl depends on it -->
    <bean id="passwordEncoder" class="org.acegisecurity.providers.encoding.Md5PasswordEncoder"/>

    <!-- i18n message source -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
       <property name="basename" value="messages"/>
    </bean>

     <bean id="jtrac" class="info.jtrac.service.JtracImpl">
         <property name="dao" ref="dao"/>
         <property name="passwordEncoder" ref="passwordEncoder"/>
         <property name="indexer" ref="indexer"/>
         <property name="indexSearcher" ref="indexSearcher"/>
         <property name="messageSource" ref="messageSource"/>
         <property name="localeList" value="${jtrac.locales}"/>
         <property name="releaseVersion" value="${jtrac.version}"/>
         <property name="releaseTimestamp" value="${jtrac.timestamp}"/>
         <property name="jtracHome" value="${jtrac.home}"/>
     </bean>

			<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
			    <property name="persistenceUnitName" value="jtrac" />
			<!--
			    <property name="persistenceXmlLocation" value="classpath:persistence.xml" />
			 -->
			    <property name="dataSource" ref="dataSource"/>
	        <property name="jpaVendorAdapter">
	            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="databasePlatform" value="${hibernate.dialect}"/>
                <property name="showSql" value="${hibernate.show_sql}"/>
	            </bean>
			    </property>
	        <property name="mappingResources" value="jtrac.hbm.xml"/>
			</bean>

			<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
			    <property name="entityManagerFactory" ref="entityManagerFactory"/>
			    <property name="dataSource" ref="dataSource"/>
			</bean>

		<tx:annotation-driven transaction-manager="transactionManager" />
		<aop:aspectj-autoproxy proxy-target-class="true"/>
		<context:annotation-config/>

		<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
		<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

    <!-- custom factory bean that uses spring single connection data source if embedded
         HSQLDB is being used, else Apache DBCP with connection pooling -->
    <bean id="dataSource" class="info.jtrac.config.DataSourceFactoryBean">
        <property name="driverClassName" value="${database.driver}"/>
        <property name="url" value="${database.url}"/>
        <property name="username" value="${database.username}"/>
        <property name="password" value="${database.password}"/>
        <property name="validationQuery" value="${database.validationQuery}"/>
        <property name="dataSourceJndiName" value="${database.datasource.jndiname}"/>
    </bean>


    <!-- Hibernate DAO implementation.  Transactions (AOP) have been applied at the service layer not here -->
    <bean id="dao" class="info.jtrac.repository.HibernateJtracDao">
    <!--
        <property name="hibernateTemplate">
            <bean class="org.springframework.orm.hibernate4.HibernateTemplate">
                <property name="sessionFactory" ref="sessionFactory"/>
                <property name="flushMode">
                    <bean id="org.springframework.orm.hibernate3.HibernateAccessor.FLUSH_COMMIT"
                        class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean"/>
                </property>
            </bean>
        </property>
     -->
        <!-- <property name="sessionFactory" ref="sessionFactory"/> -->
        <property name="schemaHelper">
            <bean class="info.jtrac.repository.SchemaHelper">
                <property name="mappingResources" value="jtrac.hbm.xml"/>
                <property name="driverClassName" value="${database.driver}"/>
                <property name="url" value="${database.url}"/>
                <property name="username" value="${database.username}"/>
                <property name="password" value="${database.password}"/>
                <property name="hibernateDialect" value="${hibernate.dialect}"/>
                <property name="dataSourceJndiName" value="${database.datasource.jndiname}"/>
            </bean>
        </property>
    </bean>

</beans>